_site/*
_theme_packages/*
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc

.iml
.idea/

*.sublime-project
*.sublime-workspace

# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.husky
!.commitlintrc.json
!.versionrc.json

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json